<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <%= link_to 'Blogging', root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse" id="main-nav-collapse">
      <ul class="nav navbar-nav navbar-right">

          <div class="navbar-text"> Goodday! </div>
          <li><%= link_to "Blog Index", posts_path %> </li>
      </ul>
    </div>
  </div>
</nav>
